Source: deb-rust-hello
Section: devel
Priority: optional
Maintainer: tommady <lindroos.hsu@tommady.com>
Build-Depends: debhelper (>=11~), cargo
Standards-Version: 4.3.0
Homepage: <insert the upstream URL, if relevant>

Package: deb-rust-hello
Architecture: amd64
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: learn how to make a rust program which can be installed from PPA.
