#!/usr/bin/make -f
export PATH := $(HOME)/.cargo/bin:$(PATH)

%:
	dh $@

override_dh_auto_build:
	dh_auto_build

override_dh_auto_clean:
	make clean

override_dh_auto_install:
	dh_auto_install -- prefix=/usr
